{{define "header"}}
<!DOCTYPE html>
<html>
	<head>
		<title>{{.Title}}</title>
		<link rel="stylesheet" href="/public/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" href="/public/bootstrap/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="/public/bootstrap/styles.css">
<link rel="icon" 
      type="image/png" 
      href="public/bootstrap/favicon.png">
	</head>
	<body>
	    <nav class="navbar navbar-default" role="navigation">
	      <div class="navbar-header">
	        <a class="navbar-brand" href="/"><img src="/public/bootstrap/logo.png"></a>
	      </div>
	      <div class="collapse navbar-collapse navbar-ex1-collapse">  
	        <ul class="nav navbar-nav">
	        	<li><a href="/">Main</a></li>
	         	<li><a href="/TopPicks">Top Picks</a></li>
	        	<li><a href="/search">Search</a></li>
	        </ul>
	      </div>
	    </nav>
{{end}}