{{define "main"}}
{{template "header" .}}
    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">GoLang App
                    <small>Written For RewardStyle</small>
                </h1>
            </div>
        </div>
        <!-- /.row -->

        <!-- Project One -->
        <div class="row">
            <div class="col-md-7">
                <a href="#">
                    <img class="img-responsive" src="/public/bootstrap/wuno-main.jpg" alt="">
                </a>
            </div>
            <div class="col-md-5">
                <h3>Wuno, Inc. | Nicholas Diaz</h3>
                <h4>Creative Designs From Creative Minds</h4>
                <p>This app was written to illustrate my ability to make accomplish any task that may be laid out in front of me. Before this app I had zero exposure to GoLang. I truly did enjoy this project. I found it to be challenging and refreshing all at once. Go reminds me a lot of c++ and java but yet simple to use. Although I know I have a lot to learn I can already see the value in using Go. I hope to have my projects which will require it.</p>
                <a class="btn btn-primary" href="https://www.wuno.com">View My Site <span class="glyphicon glyphicon-chevron-right"></span></a>
            </div>
        </div>
        <!-- /.row -->

 {{template "footer" .}}
{{end}}